<div class="container-fluid background">
  <div class="header">
    <div class="logo-background">
      <img src="./../../assets/img/logo/titankey-logo-rgb-color-logo-line-medium-invertiert.png" class="logo">
    </div>
    <div class="font-header">
      TITANKEY CRYPTO DNS
    </div>
    <nav class="nav-element">
      <button type="button" [routerLink]=" ['./create'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-primary button-color">Create</button>
      <button type="button" [routerLink]=" ['./profile'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-primary button-color">Profil</button>
      <button type="button" [routerLink]=" ['./search'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-primary button-color">Search</button>
      <button type="button" [routerLink]=" ['./send'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-primary button-color">Send</button>
    </nav>
    <div class="alpha">
      <b>ALPHA</b>
    </div>
  </div>
</div>
