$headher-height: 80px;

.background {
	background: #109f94;
	height: $headher-height;
	width: 100%;
	padding: 20px;
}

.header {
	display: flex;
    width: 50%;
    margin: auto;
	margin-top: -5px;
}

$logo-height: 50px;

.logo-background {
	background: #fff;
	height: $logo-height;
	width: $logo-height;
	display: inline-flex;
	vertical-align: middle;
	top: 10;
}

.logo {
	height: $logo-height;
	width: $logo-height;
	top: 10;
}

.font-header {
	color: #fff;
	align-self: center;
	padding-left: 5px;
	font-size: 20px;
}

.navigation {
	background: #109f94;
	height: $headher-height;
	width: 100%;
	padding: 20px;
}

.nav-element {
    margin: auto;
	justify-content: center;
	align-self: center;
}

.button-color {
	color: #fff;
	background-color: #109f94;
	border-color: #fff;
}

.alpha {
	margin-left: auto;
	align-self: center;
}
