<div class="background">
  <div class="world">
    <div *ngIf="showForm">
      <form (ngSubmit)="createAccount()" #ngForm="ngForm">
        <div [formGroup]="reactiveForm" class="form-group">
          <h1>New Account</h1>
          <label for="inputEmail">E-mail</label>
          <input type="email" formControlName="email" class="form-control" id="inputEmail" placeholder="Enter email">
          <small *ngIf="!getError('email')" id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <small *ngIf="getError('email')" id="emailError" class="form-text text-warning">{{getError('email')}}</small>
        </div>
        <button type="submit" class="btn btn-primary button-color" [disabled]="!reactiveForm.valid">Send</button>
      </form>
    </div>

    <div *ngIf="!showForm">
      <h1>SUCCESS</h1>
      <div>Your new name was successfully registered. To use, please verify your email.
      Please save your keys safely, and never share your private key.</div>
      <br>
      <h2>PRIVATE KEY:</h2>
      <div class="key">{{privateKey}}</div>
      <h2> PUBLIC KEY:</h2>
      <div class="key">{{publicKey}}</div>
      <div> If you want to send KEY Tokens, just use your E-mail as recipient.</div>
    </div>
  </div>
</div>
<div *ngIf="showLoadingIndicator" class="loading-indicator">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>